/* .weather-info {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 3px solid navy;
    margin-top: 30px;
    text-align: left;
    color: navy;
}
h2 {
    margin: 15px 0;
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 800;
}
li {
    list-style-type: none;
    font-size: 22px;
    text-align: center;
    margin: 5px;
} */