.forecast-display {
    display: flex;
    flex-direction: column ;
    justify-content: center;
    width: 60vw;
    overflow: auto;
    margin-top: 10px;
    padding: 5px 0;
    background-color: lightskyblue;
    border: 3px solid navy;
}
.day {
    display: flex;
    align-items: center; 
    margin-bottom: 5px; 
    margin-left: 10px;
    padding-left: 10px;  
    height: 4vh;
    width: 12vw;
}
.day p {
    font-size: 14px;
}
.forecast {
    display: flex;
    width: 130vw;
    color: white;
    background-color: lightskyblue; 
}
.forecast div {
    display: flex;
    flex: 1;
    justify-content: center;
}