.navbar {
    height: 70px;
    font-size: 36px;
    font-weight: bold;
}
.links {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-left: 20px;
    width: 12vw;
    height: 8vh;
    color: black; 
}